<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<nav class="bg-sky-700 fixed top-0 w-full z-50 ">
  <div class="    sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
        
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button id="buttonHamburger" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" [attr.aria-expanded]="isMenuOpen" (click)="toggleMenu()">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
        
          <svg [ngClass]="{'block': !isMenuOpen, 'hidden': isMenuOpen}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>


      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center ">
          <img class="h-15 w-28   mr-16 lg:mr-0 md:mr-0 sm:mr-0 " src="assets/logo.png" alt="Your Company">        
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4 ">
            <i class="fas fa-home cursor-pointer mt-2 fa-2x" routerLink="/home"></i>
            <a routerLink="/idea" class="mt-0.5 rounded-md bg-gray-900 px-3 py-3  text-sm font-medium text-white " aria-current="page">Dashboard</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0  ">
        @if(! this.authService.isUserAuthenticated()){
          <a  class="relative ml-3 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 " routerLink="/login" routerLinkActive="active">Login</a>
          <a class="relative ml-3 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" routerLink="/signin" routerLinkActive="active" >Register</a>
        }
        @else {
          <i class="fas fa-plus-square fa-2x p-3 cursor-pointer custom-hide" (click)="openDialogFormIdea()" title="Add new idea"></i>          

          <div class="relative ml-3">
            <div>
              <button type="button" (click)="toggleUserMenu()" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full bg-slate-200" src="https://www.pngmart.com/files/21/Account-User-PNG-Photo.png" alt="">
              </button>
            </div>
          
            <div [ngClass]="{ 'transition ease-out duration-100 transform opacity-100 scale-100': isUserMenuOpen, 'transition ease-in duration-75 transform opacity-0 scale-95': !isUserMenuOpen}" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-600" role="menuitem" tabindex="-1" id="user-menu-item-0" [routerLink]="['/profile', authService.getUser()]">Your Profile</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-600" role="menuitem" tabindex="-1" id="user-menu-item-2" routerLink="/logout">Sign out</a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  
  <div  id="mobile-menu" [class.hidden]="!isMenuOpen">
     
    <div class="sm:hidden sm:mr-10" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a  class="block rounded-md bg-gray-900 px-3 py-2 text-base hover:bg-gray-700 font-medium text-white" aria-current="page" routerLink="/home">Home</a>
        <a  class="block rounded-md bg-gray-900 px-3 py-2 text-base hover:bg-gray-700 font-medium text-white" aria-current="page" routerLink="/idea">Dashboard</a>
      </div>
    </div>
  </div>
</nav>
  